<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>Réunion</ion-title>
    <ion-text slot="end"><strong>{{username}}</strong></ion-text>

    <ion-buttons slot="end">
      <ion-button (click)="presentFilter()">
        <ion-icon color="light" slot="icon-only" name="notifications"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="signOut()">
        <ion-icon slot="icon-only" name="exit"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-toolbar>
    <ion-searchbar
      [(ngModel)]="queryText"
      (ionChange)="updateSchedule()"
      placeholder="Search"
    ></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="Array?.length > 0">
    <ion-card *ngFor="let item of Array">

      <ion-card-header>
        <h3>{{item.projet}}</h3>
        <h5>{{item.Date}}</h5>
        <h6>{{item.description}}</h6>
      </ion-card-header>
      <ion-card-content>
        <!-- <ion-button shape="round" color="primary" size="small" (click)="DetailTache(item)">
          <ion-icon size="small" slot="icon-only" name="more"></ion-icon>
        </ion-button> -->
      </ion-card-content>
    </ion-card>
  </div>

  <div *ngIf="Array?.length == 0">
    <ion-card>
      <img id="imgtache" src="../assets/img/conversation.png" />
    </ion-card>
    <h3 class="ion-text-center">Concentrez-vous sur l'essentiel</h3>
    <p class="ion-text-center">
      Retrouver toutes les réunions que vous créées ou qui vous ont les
      attribuées au méme endroit.
    </p>
  </div>

</ion-content>
