<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Ajouter une réunion
    </ion-title>
    <ion-button
      fill="clear"
      slot="end"
      color="light"
      size="small"
      (click)="dismissModal()"
    >
      <ion-icon name="close"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-row>
    <ion-col>
      <ion-item>
        <ion-datetime
          display-format="DD/MM/YYYY"
          placeholder="Date"
          [(ngModel)]="datereunion"
        ></ion-datetime>
        <ion-icon name="time" slot="start" color="primary"></ion-icon>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-item>
        <ion-input
          position="floating"
          type="text"
          placeholder="Email Dev"
          [(ngModel)]="devemail"
        ></ion-input>
        <ion-icon name="at" slot="start" color="primary"></ion-icon>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-item>
        <ion-input
          type="text"
          placeholder="Projet"
          [(ngModel)]="projet"
        ></ion-input>
        <ion-icon name="create" slot="start" color="primary"></ion-icon>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-item>
        <ion-input
          type="text"
          placeholder="client"
          [(ngModel)]="client"
        ></ion-input>
        <ion-icon name="at" slot="start" color="primary"></ion-icon>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-item>
        <ion-textarea
          rows="6"
          cols="20"
          placeholder="Enter any notes here..."
          [(ngModel)]="description"
        ></ion-textarea>
        <ion-icon name="text" slot="start" color="primary"></ion-icon>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col text-center>
      <ion-button
        expand="block"
        shape="round"
        fill="outline"
        color="primary"
        (click)="Creerreunion()"
      >
        &nbsp;Creer réunion
      </ion-button>
    </ion-col>
  </ion-row>
</ion-content>
