<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>Tache</ion-title>
    <ion-text slot="end"><strong>{{username}}</strong></ion-text>

    <ion-buttons slot="end">
      <ion-button (click)="presentFilter()">
        <ion-icon
          color="light"
          slot="icon-only"
          name="notifications"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="signOut()">
        <ion-icon slot="icon-only" name="exit"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-toolbar>
    <ion-searchbar
      showcancelbutton=""
      (ionChange)="filterList($event)"
      placeholder="Rechercher"
    ></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="Array?.length > 0">
    <ion-card *ngFor="let item of Array">
      <span *ngIf="!item.isEdit; else elseBlock">
        <ion-card-header>
          <ion-card-subtitle><h3>{{item.Nom}}</h3></ion-card-subtitle>
          <ion-card-title
            ><h3>{{item.Deadline | date }}</h3>
            <p>{{item.description}}</p></ion-card-title
          >
        </ion-card-header>

        <ion-card-content>
          <ion-button
            shape="round"
            color="secondary"
            size="small"
            (click)="EditTache(item)"
          >
            <ion-icon size="small" slot="icon-only" name="create"></ion-icon>
          </ion-button>
          <ion-button
            shape="round"
            color="danger"
            size="small"
            (click)="RemoveTache(item.id)"
          >
            <ion-icon size="small" slot="icon-only" name="trash"></ion-icon>
          </ion-button>
          <ion-button
            shape="round"
            color="primary"
            size="small"
            (click)="DetailTache(item)"
          >
            <ion-icon size="small" slot="icon-only" name="more"></ion-icon>
          </ion-button>
        </ion-card-content>
      </span>
      <ng-template #elseBlock>
        <ion-card-header>
          <ion-card-title>
            <ion-grid>
              <ion-row>
                <ion-col>
                  <h3 style="color: #f5af19;">Editer</h3>
                </ion-col>
                <ion-col>
                  <ion-button
                    fill="clear"
                    color="medium"
                    size="small"
                    (click)="item.isEdit = false"
                  >
                    Anuuler
                  </ion-button>
                </ion-col>
                <ion-col>
                  <ion-button
                    fill="outline"
                    color="secondary"
                    size="small"
                    (click)="UpdateTache(item)"
                  >
                    Modifier
                  </ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-item>
            <ion-icon name="create" slot="start" color="secondary"></ion-icon>
            <ion-input
              type="text"
              placeholder="Nom "
              [(ngModel)]="item.nomtache"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-icon name="at" slot="start" color="secondary"></ion-icon>
            <ion-input
              position="floating"
              type="text"
              placeholder="Email Dev"
              [(ngModel)]="item.devemail"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-icon name="create" slot="start" color="secondary"></ion-icon>
            <ion-input
              type="text"
              placeholder="Projet"
              [(ngModel)]="item.projet"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-datetime
              display-format="DD/MM/YYYY"
              placeholder="Deadline"
              [(ngModel)]="item.deadline"
            ></ion-datetime>
            <ion-icon
              name="stopwatch"
              slot="start"
              color="secondary"
            ></ion-icon>
          </ion-item>
          <ion-item>
            <ion-input
              type="text"
              placeholder="Createur"
              [(ngModel)]="item.createur"
            ></ion-input>
            <ion-icon name="at" slot="start" color="secondary"></ion-icon>
          </ion-item>
        </ion-card-content>
      </ng-template>
    </ion-card>
  </div>

  <div *ngIf="Array?.length == 0">
    <ion-card>
      <img id="imgtache" height="100" src="../assets/img/employee.png" />
    </ion-card>
    <h3 class="ion-text-center">Concentrez-vous sur l'essentiel</h3>
    <p class="ion-text-center">
      Retrouver toutes les taches que vous créées ou qui vous ont les attribuées
      au méme endroit.
    </p>
  </div>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end" #fab>
    <ion-fab-button color="danger" (click)="CreateTache()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
