<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="clipboard"></ion-icon>
      <ion-label>Projets</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="checkmark-circle"></ion-icon>
      <ion-label>Tâches</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="time"></ion-icon>
      <ion-label>Réunion</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab4">
      <ion-icon name="chatbubbles"></ion-icon>
      <ion-label>Chat</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab5">
      <ion-icon name="book"></ion-icon>
      <ion-label>PDF</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
