<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Ajouter une tache
    </ion-title>
    <ion-button
      fill="clear"
      slot="end"
      color="light"
      size="small"
      (click)="dismissModal()"
    >
      <ion-icon name="close" color="light"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-row>
    <ion-col>
      <ion-item>
        <ion-icon name="create" slot="start" color="primary"></ion-icon>
        <ion-input
          type="text"
          placeholder="Nom "
          [(ngModel)]="nomtache"
        ></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="10">
      affecter tache
    </ion-col>
    <ion-col size="2">
      <ion-toggle
        style="zoom:0.8;"
        color="primary"
        (click)="affecter =!affecter"
      ></ion-toggle>
    </ion-col>
  </ion-row>

  <ion-row *ngIf="affecter">
    <ion-col>
      <ion-item>
        <ion-item>
          <ion-icon name="at" slot="start" color="primary"></ion-icon>
          <ion-input
            position="floating"
            type="text"
            placeholder="Email Dev"
            name="devemail"
            [(ngModel)]="devemail"
          ></ion-input>
        </ion-item>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-item>
        <ion-icon name="create" slot="start" color="primary"></ion-icon>
        <ion-select interface="action-sheet" (ionChange)="onChange($event)">
          <ion-select-option *ngFor="let item of projects" [value]="item"
            >{{item.nomProjet}}</ion-select-option
          >
        </ion-select>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-item>
        <ion-icon name="stopwatch" slot="start" color="primary"></ion-icon>
        <ion-datetime
          display-format="DD/MM/YYYY"
          placeholder="Deadline"
          [(ngModel)]="deadline"
        ></ion-datetime>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-item>
        <ion-label position="floating" color="primary">Description</ion-label>
        <ion-textarea
          rows="6"
          cols="20"
          placeholder="Enter any notes here..."
          [(ngModel)]="description"
        ></ion-textarea>
        <ion-icon name="text" slot="end" color="primary"></ion-icon>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col text-center>
      <ion-button
        expand="block"
        shape="round"
        fill="outline"
        color="primary"
        (click)="Creertache()"
      >
        <!-- <ion-icon size="small" slot="icon-only" name="add"></ion-icon> -->
        &nbsp;Creer tache
      </ion-button>
    </ion-col>
  </ion-row>
</ion-content>
