<ion-content class="ion-padding">
  <div class="logo">
    <ion-icon color="light" name="contact"></ion-icon>
  </div>
  <ion-row>
    <ion-col>
      <ion-item>
        <ion-label position="stacked" color="light">Email</ion-label>
        <ion-input color="light" type="mail" placeholder="Adresse email" [(ngModel)]="username"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-item>
        <ion-label position="stacked" color="light">Mot de passe</ion-label>
        <ion-input color="light" type="password" placeholder="Mot de passe" [(ngModel)]="password"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>

      <ion-row>
        <ion-col>
          <ion-item lines="none">
            <ion-button color="light" slot="end" fill="clear">Mot de passe oublié ?</ion-button>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-button color="light" expand="block" shape="round" fill="outline" (click)="login()">Connexion</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button color="primary" expand="block" shape="round" (click)="signUp()">Inscription</ion-button>
        </ion-col>
      </ion-row>
    </ion-content>
      <!-- <ion-item lines="none">
  <ion-label color="light" text-center>Ou connectez-vous avec</ion-label>
</ion-item>

<div class="flex">
  <ion-button color="primary" shape="round">
    <ion-icon slot="start" name="logo-facebook"></ion-icon>
    Facebook
  </ion-button>
  <ion-button color="danger" shape="round">
    <ion-icon slot="start" name="logo-google"></ion-icon>
    Google
  </ion-button>
</div> -->

