<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>Projet</ion-title>
    <ion-text slot="end"><strong>{{username}}</strong></ion-text>

    <ion-buttons slot="end">
      <ion-button (click)="presentFilter()">
        <ion-icon
          color="light"
          slot="icon-only"
          name="notifications"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="signOut()">
        <ion-icon slot="icon-only" name="exit"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-toolbar>
    <ion-searchbar
      showcancelbutton=""
      (ionChange)="filterList($event)"
      placeholder="Rechercher"
    ></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="Array?.length > 0">
    <ion-card *ngFor="let item of Array">
      <span *ngIf="!item.isEdit; else elseBlock">
        <ion-card-header>
          <ion-card-title><h3>{{item.nomProjet}}</h3></ion-card-title>
          <ion-card-subtitle
            ><h3>{{item.deadline | date}}</h3>
            <br />
            <p>{{item.description}}</p></ion-card-subtitle
          >
        </ion-card-header>

        <ion-card-content>
          <ion-button
            shape="round"
            color="secondary"
            size="small"
            (click)="editProject(item)"
          >
            <ion-icon size="small" slot="icon-only" name="create"></ion-icon>
          </ion-button>
          <ion-button
            shape="round"
            color="danger"
            size="small"
            (click)="removeProject(item.id)"
          >
            <ion-icon size="small" slot="icon-only" name="trash"></ion-icon>
          </ion-button>
          <ion-button
            shape="round"
            color="primary"
            size="small"
            (click)="detailProject(item)"
          >
            <ion-icon size="small" slot="icon-only" name="more"></ion-icon>
          </ion-button>
        </ion-card-content>
      </span>

      <ng-template #elseBlock>
        <ion-card-header>
          <ion-card-title>
            <ion-grid>
              <ion-row>
                <ion-col>
                  <h2 style="color: #f5af19;">Editer</h2>
                </ion-col>
                <ion-col>
                  <ion-button
                    fill="clear"
                    color="medium"
                    size="small"
                    (click)="item.isEdit = false"
                  >
                    Annuler
                  </ion-button>
                </ion-col>
                <ion-col>
                  <ion-button
                    fill="outline"
                    color="secondary"
                    size="small"
                    (click)="updateProject(item)"
                  >
                    Modifier
                  </ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-item>
            <ion-icon name="create" slot="start" color="secondary"></ion-icon>
            <ion-input type="text" [(ngModel)]="item.projectName"></ion-input>
          </ion-item>
          <ion-item>
            <ion-icon
              name="stopwatch"
              slot="start"
              color="secondary"
            ></ion-icon>
            <ion-datetime
              display-format="DD/MM/YYYY"
              [(ngModel)]="item.deadline"
            ></ion-datetime>
          </ion-item>
          <ion-item>
            <ion-icon name="logo-usd" slot="start" color="secondary"></ion-icon>
            <ion-input type="text" [(ngModel)]="item.budget"></ion-input>
          </ion-item>
          <ion-item>
            <ion-icon name="create" slot="start" color="secondary"></ion-icon>
            <ion-input type="text" [(ngModel)]="item.etat"></ion-input>
          </ion-item>
          <ion-item>
            <ion-icon name="create" slot="start" color="secondary"></ion-icon>
            <ion-textarea
              rows="4"
              cols="20"
              [(ngModel)]="item.description"
            ></ion-textarea>
          </ion-item>
        </ion-card-content>
      </ng-template>
    </ion-card>
  </div>

  <div *ngIf="Array?.length == 0">
    <ion-card>
      <img id="projetimg" src="../assets/projet.png" />
    </ion-card>

    <h3 text-center>Aucun Projet</h3>
    <p text-center>
      Vous pouvez y accéder rapidement accéder à vos projets les plus
      importants.
    </p>
  </div>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end" #fab>
    <ion-fab-button color="secondary" (click)="createProject()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
