.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}
ion {
  background-color: #f59ef0;
}

#imgtache {
  width: 150px;
  height: 150px;
  margin-left: 90px;
}

h3{
  color: #488aff
}

h5{
  color: #488aff
}

