<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>Mes taches</ion-title>
    <ion-text slot="end"><strong>{{username}}</strong></ion-text>

    <ion-buttons slot="end">
      <ion-button (click)="presentFilter()">
        <ion-icon color="light" slot="icon-only" name="notifications"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="signOut()">
        <ion-icon slot="icon-only" name="exit"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-toolbar>
    <ion-searchbar showcancelbutton="" (ionChange)="filterList($event)" placeholder="Search"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="Array">
    <div *ngFor="let item of Array">
      <ion-card>
        <span *ngIf="!item.isEdit; else elseBlock">
          <ion-card-header>
            <h3>{{item.nomtache}}</h3>
            <h5>{{item.deadline | date }}</h5>
            <h6>{{item.description}}</h6>
          </ion-card-header>

          <!-- <ion-card-content>
            <ion-button shape="round" color="secondary" size="small" (click)="EditTache(item)">
              <ion-icon size="small" slot="icon-only" name="create"></ion-icon>
            </ion-button>
            <ion-button shape="round" color="danger" size="small" (click)="RemoveTache(item.id)">
              <ion-icon size="small" slot="icon-only" name="trash"></ion-icon>
            </ion-button>
            <ion-button shape="round" color="primary" size="small" (click)="DetailTache(item)">
              <ion-icon size="small" slot="icon-only" name="more"></ion-icon>
            </ion-button>
          </ion-card-content> -->
        </span>
        <ng-template #elseBlock>
          <ion-card-header>
            <ion-card-title>
              <ion-grid>
                <ion-row>
                  <ion-col>
                    <h3 style="color: #f5af19;">Editer</h3>
                  </ion-col>
                  <ion-col>
                    <ion-button
                      fill="clear"
                      color="medium"
                      size="small"
                      (click)="item.isEdit = false"
                    >
                      Anuuler
                    </ion-button>
                  </ion-col>
                  <ion-col>
                    <ion-button
                      fill="outline"
                      color="secondary"
                      size="small"
                      (click)="UpdateTache(item)"
                    >
                      Modifier
                    </ion-button>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-item>
              <ion-icon name="create" slot="start" color="secondary"></ion-icon>
              <ion-input
                type="text"
                placeholder="Nom "
                [(ngModel)]="item.nomtache"
              ></ion-input>
            </ion-item>

            <ion-item>
              <ion-icon name="create" slot="start" color="secondary"></ion-icon>
              <ion-input
                type="text"
                placeholder="Projet"
                [(ngModel)]="item.projet"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-datetime
                display-format="DD/MM/YYYY"
                placeholder="Deadline"
                [(ngModel)]="item.deadline"
              ></ion-datetime>
              <ion-icon
                name="stopwatch"
                slot="start"
                color="secondary"
              ></ion-icon>
            </ion-item>
            <ion-item>
              <ion-input
                type="text"
                placeholder="Description"
                [(ngModel)]="item.description"
              ></ion-input>
              <ion-icon name="text" slot="start" color="secondary"></ion-icon>
            </ion-item>
          </ion-card-content>
        </ng-template>
      </ion-card>
    </div>
  </div>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end" #fab>
    <ion-fab-button color="danger" (click)="CreateTache()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>