<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Mes Propositions</ion-title>
    <ion-text slot="end"><strong>{{username}}</strong></ion-text>

    <ion-buttons slot="end">
      <ion-button (click)="signOut()">
        <ion-icon slot="icon-only" name="exit"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
  <ion-content >
    <ion-card text-center *ngIf="!isUploading && !isUploaded">
      <ion-card-header>
        <ion-card-title>Choisir le fichier PDF à télécharger</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <div class="fileUpload btn btn-primary">
          <span>Upload</span>
          <input
            id="uploadBtn"
            type="file"
            class="upload"
            (change)="uploadFile($event.target.files)"
            color="primary"
            size="small"
          />
        </div>
      </ion-card-content>
    </ion-card>
    <ion-card text-center *ngIf="isUploading && !isUploaded">
      <ion-card-header>
        <ion-card-title
          >Fichier séléctionné:<b>{{ fileName }}</b></ion-card-title
        >
      </ion-card-header>
   
      <ion-card-content>
        <div *ngIf="percentage | async as pct">
          Progrès: {{ pct | number }}%
          <ion-progress-bar value="{{ pct / 100 }}"></ion-progress-bar>
        </div>
        <div *ngIf="snapshot | async as snap">
          Taille de fichier: {{ snap.totalBytes | fileSizePipe }} Transfered:
          {{ snap.bytesTransferred | fileSizePipe }}
          <div *ngIf="snapshot && snap.bytesTransferred != snap.totalBytes">
            <ion-button
              color="warning"
              size="small"
              (click)="task.pause()"
              class="button is-warning"
              >Pause</ion-button
            >
            <ion-button
              size="small"
              (click)="task.resume()"
              class="button is-info"
              >Reprendre</ion-button
            >
            <ion-button
              color="danger"
              size="small"
              (click)="task.cancel()"
              class="button is-danger"
              >Annuler</ion-button
            >
          </div>
        </div>
      </ion-card-content>
    </ion-card>
    <ion-card text-center *ngIf="!isUploading && isUploaded">
      <ion-card-header>
        <ion-card-title>
          <b>{{ fileName }}</b> Uploaded!
        </ion-card-title>
      </ion-card-header>
   
      <ion-card-content>
        <div *ngIf="UploadedFileURL | async as url">
          <!-- <img [src]="url" /> -->
          <a [href]="url" target="_blank" rel="noopener">Download</a>
        </div>
        Taille de fichier: {{ fileSize | fileSizePipe }}
        <ion-button
          expand="full"
          color="secondary"
          (click)="isUploading = isUploaded = false"
          >Upload More</ion-button
        >
      </ion-card-content>
    </ion-card>
   
    <h2 text-center>Fichiers téléchargées</h2>
   
    <ion-card color="light" text-center *ngFor="let item of images | async">
      <ion-card-header>
        <ion-card-title>
          {{ item.name }}
        </ion-card-title>
      </ion-card-header>
   
      <ion-card-content>
       <!--  <img [src]="item.filepath" /> -->
        <a [href]="item.filepath" target="_blank" rel="noopener">Download</a>
      </ion-card-content>
    </ion-card>
  </ion-content>