<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Detail Project</ion-title>
    <ion-button
      fill="clear"
      slot="end"
      color="medium"
      size="small"
      (click)="dismissModal()"
    >
      <ion-icon name="close" color="light"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      <ion-label>Project</ion-label>
    </ion-list-header>

    <ion-item>
      <ion-icon slot="start" name="create" color="primary"></ion-icon>
      <ion-label>{{item.nomProjet}}</ion-label>
    </ion-item>
    <ion-item
      ><ion-icon slot="start" name="stopwatch" color="primary"> </ion-icon
      ><ion-label> {{item.deadline}}</ion-label>
    </ion-item>
    <ion-item
      ><ion-icon slot="start" name="logo-usd" color="primary"></ion-icon
      ><ion-label> {{item.budget}}</ion-label></ion-item
    >
    <ion-item
      ><ion-icon slot="start" name="person" color="primary"></ion-icon
      ><ion-label class="ion-text-wrap">
        {{item.description}}</ion-label
      ></ion-item
    >

    <ion-grid>
      <ion-row>
        <ion-col style="margin-left: 50px;"
          ><ion-chip color="danger">
            <ion-label>{{item.etat}}</ion-label>
          </ion-chip></ion-col
        >
      </ion-row>
    </ion-grid>
  </ion-list>

  <ion-card>
    <ion-card-header>
      <h3>Suivi de projet</h3>
    </ion-card-header>
    <ion-card-content>
      <canvas #doughnutCanvas></canvas>
    </ion-card-content>
  </ion-card>
</ion-content>
