<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>Reunion</ion-title>
    <ion-text slot="end"><strong>{{username}}</strong></ion-text>

    <ion-buttons slot="end">
      <ion-button (click)="presentFilter()">
        <ion-icon
          color="light"
          slot="icon-only"
          name="notifications"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="signOut()">
        <ion-icon slot="icon-only" name="exit"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-toolbar>
    <ion-searchbar
      showcancelbutton=""
      (ionChange)="filterList($event)"
      placeholder="Rechercher"
    ></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="Array?.length > 0">
    <ion-card *ngFor="let item of Array">
      <span *ngIf="!item.isEdit; else elseBlock">
        <ion-card-header>
          <ion-card-subtitle> <h3>{{item.projet}}</h3></ion-card-subtitle>
          <ion-card-title><h3>{{item.Date | date}}</h3></ion-card-title>
          <p>{{item.description}}</p>
        </ion-card-header>

        <ion-card-content>
          <ion-button
            shape="round"
            color="secondary"
            size="small"
            (click)="EditReunion(item)"
          >
            <ion-icon size="small" slot="icon-only" name="create"></ion-icon>
          </ion-button>
          <ion-button
            shape="round"
            color="danger"
            size="small"
            (click)="RemoveReunion(item.id)"
          >
            <ion-icon size="small" slot="icon-only" name="trash"></ion-icon>
          </ion-button>
        </ion-card-content>
      </span>
      <ng-template #elseBlock>
        <ion-card-header>
          <ion-card-title>
            <ion-grid>
              <ion-row>
                <ion-col>
                  <h2 style="color: #f5af19;">Editer</h2>
                </ion-col>
                <ion-col>
                  <ion-button
                    fill="clear"
                    color="medium"
                    size="small"
                    (click)="item.isEdit = false"
                  >
                    Annuler
                  </ion-button>
                </ion-col>
                <ion-col>
                  <ion-button
                    fill="outline"
                    color="secondary"
                    size="small"
                    (click)="UpdateReunion(item)"
                  >
                    Modifier
                  </ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-item>
            <ion-datetime
              display-format="DD/MM/YYYY"
              placeholder="Date"
              [(ngModel)]="item.datereunion"
            ></ion-datetime>
            <ion-icon name="time" slot="start" color="secondary"></ion-icon>
          </ion-item>
          <ion-item>
            <ion-input
              position="floating"
              type="text"
              placeholder="Email Dev"
              [(ngModel)]="item.devemail"
            ></ion-input>
            <ion-icon name="at" slot="start" color="secondary"></ion-icon>
          </ion-item>
          <ion-item>
            <ion-input
              type="text"
              placeholder="Projet"
              [(ngModel)]="item.projet"
            ></ion-input>
            <ion-icon name="create" slot="start" color="secondary"></ion-icon>
          </ion-item>
          <ion-item>
            <ion-input
              type="text"
              placeholder="client"
              [(ngModel)]="item.client"
            ></ion-input>
            <ion-icon name="at" slot="start" color="secondary"></ion-icon>
          </ion-item>
          <ion-item>
            <ion-textarea
              rows="6"
              cols="20"
              placeholder="Entrer une description..."
              [(ngModel)]="item.description"
            ></ion-textarea>
            <ion-icon name="text" slot="start" color="secondary"></ion-icon>
          </ion-item>
        </ion-card-content>
      </ng-template>
    </ion-card>
  </div>

  <div *ngIf="Array?.length == 0">
    <ion-card>
      <img id="imgtache" src="../assets/img/conversation.png" />
    </ion-card>
    <h3 class="ion-text-center">Concentrez-vous sur l'essentiel</h3>
    <p class="ion-text-center">
      Retrouver toutes les réunions que vous créées ou qui vous ont les
      attribuées au méme endroit.
    </p>
  </div>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end" #fab>
    <ion-fab-button color="secondary" (click)="CreateReunion()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
