<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="cloud-upload"></ion-icon>
      <ion-label>Upload</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="stats"></ion-icon>
      <ion-label>Statistique</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="clipboard"></ion-icon>
      <ion-label>Projets</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="tab4">
      <ion-icon name="chatbubbles"></ion-icon>
      <ion-label>Chat</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
