<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Ajouter un projet
    </ion-title>
    <ion-button
      fill="clear"
      slot="end"
      color="medium"
      size="small"
      (click)="dismissModal()"
    >
      <ion-icon name="close" color="light"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-row>
    <ion-col>
      <ion-item>
        <ion-icon name="create" slot="start" color="primary"></ion-icon>
        <ion-input
          type="text"
          placeholder="Nom  du projet "
          [(ngModel)]="projectName"
          shape="round"
        ></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-item>
        <ion-icon name="stopwatch" slot="start" color="primary"></ion-icon>
        <ion-datetime
          display-format="DD/MM/YYYY"
          placeholder="Deadline"
          [(ngModel)]="deadline"
        ></ion-datetime>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-item>
        <ion-icon name="logo-usd" slot="start" color="primary"></ion-icon>
        <ion-input
          type="text"
          placeholder="Budget"
          [(ngModel)]="budget"
          shape="round"
        ></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-item>
        <ion-icon name="create" slot="start" color="primary"></ion-icon>
        <ion-textarea
          placeholder="Description"
          type="text"
          [(ngModel)]="description"
        ></ion-textarea>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col text-center>
      <ion-button
        expand="block"
        shape="round"
        fill="outline"
        (click)="CreateProject()"
      >
        <!-- <ion-icon size="small" slot="icon-only" name="add"></ion-icon> -->
        &nbsp;Creer Projet
      </ion-button>
    </ion-col>
  </ion-row>
</ion-content>
