<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>Reunion</ion-title>
    <ion-text slot="end"><strong>{{username}}</strong></ion-text>

    <ion-buttons slot="end">
      <ion-button (click)="signOut()">
        <ion-icon slot="icon-only" name="exit"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <h2 text-center>Fichiers téléchargées</h2>
   
  <ion-card color="light" text-center *ngFor="let item of images | async">
    <ion-card-header>
      <ion-card-title>
        {{ item.name }}
      </ion-card-title>
    </ion-card-header>
 
    <ion-card-content>
     <!--  <img [src]="item.filepath" /> -->
      <a [href]="item.filepath" target="_blank" rel="noopener">Download</a>
    </ion-card-content>
  </ion-card>

  <!-- <div *ngIf="Array?.length == 0">
    <ion-card>
      <img id="imgtache" src="../assets/img/conversation.png" />
    </ion-card>
    <h3 class="ion-text-center">Concentrez-vous sur l'essentiel</h3>
    <p class="ion-text-center">
      Retrouver toutes les réunions que vous créées ou qui vous ont les
      attribuées au méme endroit.
    </p>
  </div> -->

</ion-content>
