<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Detail tache</ion-title>
    <ion-button fill="clear" slot="end" color="medium" size="small" (click)="dismissModal()">
    <ion-icon name="close" color="light"></ion-icon>
  </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
   <ion-list>
    <ion-list-header>
      <ion-label>Tache</ion-label>
    </ion-list-header>

    <ion-item>
      <ion-icon slot="start" name="create" color="primary"></ion-icon>
      <ion-label>{{item.Nom}}</ion-label>
    </ion-item>
    <ion-item
      ><ion-icon slot="start" name="timer" color="primary"> </ion-icon
      ><ion-label> {{item.Deadline}}</ion-label>
    </ion-item>
    <ion-item
      ><ion-icon slot="start" name="clipboard" color="primary"></ion-icon
      ><ion-label> {{item.projet}}</ion-label></ion-item
    >
    <ion-item
      ><ion-icon slot="start" name="text" color="primary"></ion-icon
      ><ion-label> {{item.Description}}</ion-label></ion-item
    >
    <ion-grid>
      <ion-row>
        <ion-col style="margin-left: 50px;"
          ><ion-chip color="danger">
            <ion-label>{{item.etat}}</ion-label>
          </ion-chip></ion-col
        >
        <ion-col>
          <ion-chip color="secondary">
            <ion-label>{{item.affectation}}</ion-label>
          </ion-chip></ion-col
        >
      </ion-row>
    </ion-grid>
  </ion-list> 
</ion-content>
