<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>Tache</ion-title>
    <ion-text slot="end"><strong>{{username}}</strong></ion-text>

    <ion-buttons slot="end">
      <ion-button (click)="presentFilter()">
        <ion-icon color="light" slot="icon-only" name="notifications"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="signOut()">
        <ion-icon slot="icon-only" name="exit"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-toolbar>
    <ion-searchbar showcancelbutton="" (ionChange)="filterList($event)" placeholder="Search"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="Array?.length > 0">
    <ion-card *ngFor="let item of Array">
      <ion-card-header>
        <div class="box">
          <div>
            <h3>{{item.Nom}}</h3>
            <h5>{{item.Deadline | date }}</h5>
            <h6>{{item.description}}</h6>
            
          </div>
          <div *ngIf="item.affectation != 'affecté'">
            <ion-button id="button" shape="round" color="danger" size="small" (click)="affecter()" style="right: 0;">
              demande d'affectation</ion-button>
          </div>
          <div *ngIf="item.affectation == 'affecté'">
            <ion-col>
              <ion-chip color="secondary">
                <ion-label>{{item.affectation}}</ion-label>
              </ion-chip>
            </ion-col>
          </div>
        </div>
      </ion-card-header>

    </ion-card>
  </div>
  <div *ngIf="Array?.length == 0">
    <ion-card>
      <img id="imgtache" height="100" src="../assets/img/employee.png" />
    </ion-card>
    <h3 class="ion-text-center">Concentrez-vous sur l'essentiel</h3>
    <p class="ion-text-center">
      Retrouver toutes les taches que vous créées ou qui vous ont les attribuées
      au méme endroit.
    </p>
  </div>

</ion-content>