<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>Chat</ion-title>
    <ion-text slot="end"><strong>{{username}}</strong></ion-text>

    <ion-buttons slot="end">
      <ion-button (click)="presentFilter()">
        <ion-icon
          color="light"
          slot="icon-only"
          name="notifications"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="signOut()">
        <ion-icon slot="icon-only" name="exit"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid *ngIf="connected">
    <ion-row>
      <ion-col size="10" class="input-col">
        <ion-input
          autocomplete="true"
          spellcheck="true"
          [(ngModel)]="messageText"
          type="text"
          placeholder="Entrez votre message"
          name="message"
        ></ion-input>
      </ion-col>
      <ion-col size="2" class="send-col">
        <ion-button shape="full" (click)="sendMessage()">
          <ion-icon name="paper-plane"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="stream" *ngIf="connected">
    <ion-item lines="none" *ngFor="let message of messages">
      <ion-badge text-wrap slot="end" color="light" *ngIf="message.id != id"
        >{{ message.text }}
      </ion-badge>
      <ion-badge text-wrap slot="start" color="primary" *ngIf="message.id == id"
        >{{ message.text }}</ion-badge
      >
    </ion-item>
  </div>
</ion-content>
