ion-content {
    --ion-background-color: linear-gradient(to right, #0f2027, #203a43, #2c5364);
}

.flex {
    display: flex;
    justify-content: space-between;
}

.logo {
    position: relative;
    height: 250px;
}

.logo ion-icon{
    font-size: 9em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


  .ion-color-facebook {
    --ion-color-base: var(#3b5999) !important;
    --ion-color-base-rgb: var( 59, 89, 153) !important;
    --ion-color-contrast: var(#ffffff) !important;
    --ion-color-contrast-rgb: var(255, 255, 255) !important;
    --ion-color-shade: var(#324b81) !important;
    --ion-color-tint: var(#476bb8) !important;
  }
  .ion-color-google {
    --ion-color-base: var(#cd201f) !important;
    --ion-color-base-rgb: var(245, 61, 61) !important;
    --ion-color-contrast: var(#ffffff) !important;
    --ion-color-contrast-rgb: var(255, 255, 255) !important;
    --ion-color-shade: var(#cd201f) !important;
    --ion-color-tint: var(#cd201f) !important;
  }

  
  .profile-type-selection-container {
    width: 100%;

    p {
        font-size: 18px;
        text-align: center;
        margin: 0px 24px 48px 24px; 
    }

    ion-button {
        margin: 0px 0px 14px 0px;
        height: 44px;
    }
}