<ion-content class="ion-padding">

  <ion-icon name="arrow-back" (click)="goBack()" color="primary"></ion-icon>

  <div class="logo">
    <ion-icon color="light" name="contact"></ion-icon>
  </div>

  <div *ngIf="!profileType ; else elseBlock"  class="profile-type-selection-container">

      <ion-button *ngFor="let profileType of profileTypes" color="light" expand="block" fill="outline" shape="round" strong="true" (click)="onProfileTypeSelected(profileType)">{{profileType}}</ion-button>

  </div>

  <ng-template #elseBlock>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="stacked" color="light">Email</ion-label>
          <ion-input color="light" type="text" placeholder="Adresse email" [(ngModel)]="username" required></ion-input>
        
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="stacked" color="light">Mot de passe</ion-label>
          <ion-input color="light" type="password" placeholder="Mot de passe" [(ngModel)]="password" required></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="stacked" color="light">Confirmer Mot de passe</ion-label>
          <ion-input color="light" type="password" placeholder="Mot de passe" [(ngModel)]="cpassword"required ></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button color="primary" expand="block" shape="round" (click)="signUp()">Inscription</ion-button>
      </ion-col>
    </ion-row>
  </ng-template>

</ion-content>